[Unit]
Description=demoml_backend

[Service]
ExecStart=/home/ubuntu/demoml/demotj-backend/app.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/demoml/demotj-backend

[Install]
WantedBy=multi-user.target